
.datatable-container {
    overflow-x: auto;
    overflow-y: auto;
  }
  
.datatable {
    border-collapse: collapse;
    margin-top: 20px;
  }

.datatable {
    width: fit-content;
    font-size: large;
}
  
  .datatable th,
  .datatable td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid;
    width: 200px;
  }
  
  .datatable th, .datatable td {
    background-color: var(--whiteblack-color);
    border-color: var(--background-color);
}

  .datatable td:hover {
    cursor: auto;
  }
  
  .datatable td:first-child {
    width: 200px;
  }

.datatable th.sortable-header:hover {
    background-color: #0901d01a;
}

.datatable th.sortable-header {
    cursor: pointer;
    color: var(--highlight);
}

.datatable th {
    text-align: center;
}

  
